:host {
  display: block;
}

:host([hidden]) {
  display: none;
}

.container {
  display: flex;
  width: auto;
  background-color: purple;
  color: white;
  padding: 1em;
  flex-direction: column;
}

.logo {
  font-size: 1.8em;
  flex: 1 1 auto;
}